streamlit==0.83.0
tensorflow_datasets==4.0.1
pandas==1.1.5
gdown==3.6.4
spacy==2.2.4
nltk==3.2.5
numpy==1.19.5
matplotlib==3.2.2
Keras_Preprocessing==1.1.2
plotly==4.4.1
opencv_contrib_python==4.1.2.30
Keras==2.4.3
tensorflow==2.5.0
protobuf==3.17.3
